body {
    font-family: "Cairo", sans-serif;
    background: #f5f5f5;
    text-align: center;
}

header {
    background: #004c8c;
    color: #fff;
    padding: 20px;
}

.logo {
    width: 90px;
}

main {
    background: #fff;
    width: 80%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 12px;
}

label {
    display: block;
    margin: 15px 0;
}

input, select, textarea {
    width: 80%;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

.signature {
    border: 2px dashed #444;
    margin: 10px 0;
    background: #fff;
    cursor: crosshair;
}
